@page "/subscribe"
@using System.ComponentModel.DataAnnotations

<h1>Subscribe to Our Newsletter</h1>

<EditForm Model="@subscriber" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <InputText id="name" class="form-control" @bind-Value="subscriber.Name" />
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <InputText id="email" type="email" class="form-control" @bind-Value="subscriber.Email" />
    </div>

    <button type="submit" class="btn btn-primary">Subscribe</button>
</EditForm>

@if (submitted)
{
    <div class="alert alert-success mt-3">
        Thank you for subscribing, @subscriber.Name!
    </div>
}

@code {
    private Subscriber subscriber = new();
    private bool submitted = false;

    private void HandleValidSubmit()
    {
        submitted = true;
        // You can store or send the data somewhere here.
    }

    public class Subscriber
    {
        [Required]
        public string Name { get; set; }

        [Required]
        [EmailAddress]
        public string Email { get; set; }
    }
}
